.login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 512px;
}

.login-form {
  width: 100%;
}
