.trending-gifs {
  @include column-styles;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 512px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 512px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
