.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
}

.profile-block {
  @include default-container-styles;
  margin-top: 65px;
  padding: 1rem 1rem 4rem 1rem;
}

.profile-main-info,
.text3 {
  @include column-center-styles;
}

.favorite-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: $peach-color;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0.5;
}
.favorite-section-button.active {
  opacity: 1;
}
.circle-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: $sand-color;
  border-radius: 50%;
}

.profile-buttons {
  display: flex;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: $sand-color;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.profile-posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.test4 {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  .dot {
    display: flex;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: $chocolate-color;
  }
}
