.card {
  overflow: hidden;
  border-radius: 0.99rem;
  background-color: $creame-color;
  .info {
    @include flex-between-styles;
    gap: 0.99rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    .text {
      max-width: 75%;
    }
    .heart-icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 25%;
      background-color: transparent;
    }
  }
}