.card {
  overflow: hidden;
  border-radius: 0.99rem;
  background-color: $creame-color;
  .info {
    @include flex-between-styles;
    gap: 0.99rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    .text {
      max-width: 70%;
    }
    .flex-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      max-width: 30%;
      .heart-icon {
        display: flex;
        align-items: center;
        background-color: transparent;
        opacity: 0.5;
        transition: 0.1s ease;
        &:hover {
          opacity: 1;
        }
      }
      .download-icon {
        display: flex;
        align-items: center;
        background-color: transparent;
        opacity: 0.5;
        transition: 0.1s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
