@import './scss/config';
@import './pages/MainPage/MainPage.scss';
@import './scss/inputs.scss';
@import './components/trendingGifs/trendingGifs.scss';
@import './scss/texts.scss';
@import './components/card/Card.scss';
@import './pages/Login/Login.scss';
@import './pages/SignUp/SignUp.scss';
@import './scss/buttons.scss';
@import './components/loader/Loader.scss';
@import './components/postedGifs/postedGifs.scss';
@import './components/startSection/startSection.scss';
@import './pages/Search/search.scss';
@import './components/menuBar/menuBar.scss';
@import './pages/Profile/Profile.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(191, 191, 191, 0.7);
  border-radius: 8px;
}

body {
  background-color: $lavanda-color;
}

img {
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.meme-sq-img {
  width: 100%;
  height: 180px;
}

.circle-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.big-circle-img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.7);
  width: 100%;
  height: 100vh;
  .absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.flex-content {
  @include row-styles;
  align-items: center;
}
