@import './scss/config';
@import './pages/MainPage/MainPage.scss';
@import './scss/inputs.scss';
@import './components/trendingGifs/trendingGifs.scss';
@import './scss/texts.scss';
@import './components/card/Card.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

body {
  background-color: $lavanda-color;
}

img {
  object-fit: cover;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.meme-sq-img {
  width: 100%;
  height: 180px;
}
