$creame-color: #fef5ea;
$lavanda-color: #ede0d4;
$chocolate-color: #262020;
$slate-color: #181e1f;

@mixin flex-between-styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}