.full-width-button {
  background-color: $peach-color;
  outline: none;
  border: none;
  border-radius: 0.99rem;
  padding: 1rem;
  width: 100%;
}

.transparent-button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $sand-color;
}

.circle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $peach-color;
}
