.primary-input-section {
  position: relative;
  .search-icon {
    position: absolute;
    display: flex;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  .message {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: $peach-color;
  }
}

.input-text {
  background-color: $creame-color;
  outline: none;
  border: none;
  border-radius: 0.99rem;
  padding: 1rem;
  width: 100%;
  &::placeholder {
    color: $chocolate-color; 
  }
}
