.small-text {
  font-size: 12px;
  font-weight: 400;
  color: $slate-color;
}

.mid-text {
  font-size: 14px;
  font-weight: 400;
  color: $slate-color;
}

.small-header {
  font-size: 12px;
  font-weight: 600;
  color: $slate-color;
}

.mid-header {
  font-size: 16px;
  font-weight: 600;
  color: $slate-color;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
